.dropdown-item{
    color: black!important;
    display: block;
    padding-bottom: 20px;
}
.dropdown-item:hover{
    color: red!important;
   
}
.dropdown-menu{
    width: 300px;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: red;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.dropdown-backdrop {
    position: static!important;
}
.addmitions-points{
    padding-bottom: 10px;
    font-size: 1.8rem;
}
.nav-link{
    color: white!important;
}
.nav-link:hover{
    color: red!important;
}